.app{
  background: #8F00FF;
}

ul{
  list-style: none;
  padding: 0;
  margin: 20px 0;



}

.users{
  border-radius: 20px;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}